	<div data-ng-include="'pages/navbar.html'"></div>

    <div id="main-header" class="twhite">
        <div data-ng-include="'pages/header.html'"></div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6 hidden-sm hidden-xs text-center bottom-padding">
                <h1 class="no-top-space">Company</h1>
            </div>
        </div>
    </div>

    <div class="bwhite side-padding row-wrapper text-center">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h1>Board and Investor</h1>
                <p class="tgray">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
            </div>
        </div>
    </div>

    <div class="bgray side-padding row-wrapper text-center">

        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h1>Executives</h1>
            </div>
        </div>

        <div class="row side-padding middle-padding top-medium-padding">
            <div class="col-md-offset-3 col-md-2">
                <img class="img-responsive logo-tile img-center" src="../images/colinmacritchie.png">
                <h4>Colin MacRitchie</h4>
                <p class="tgray">Co-Founder/CEO</p>
            </div>
            <div class="col-md-2">
                <img class="img-responsive logo-tile img-center" src="../images/terryhilton.png">
                <h4>Terry Hilton</h4>
                <p class="tgray">Co-Founder/CTO</p>
            </div>
            <div class="col-md-2">
                <img class="img-responsive logo-tile img-center" src="../images/kevinmacritchie.png">
                <h4>Kevin MacRitchie</h4>
                <p class="tgray">Management Advisor</p>
            </div>
        </div>

        <div class="row side-padding middle-padding">
            <div class="col-md-offset-3 col-md-2">
                <img class="img-responsive logo-tile img-center" src="../images/georgerailean.png">
                <h4>George Railean</h4>
                <p class="tgray">Head Of UX/UI Design</p>
            </div>
            <div class="col-md-2">
                <img class="img-responsive logo-tile img-center" src="../images/garyledonne.png">
                <h4>Gary LeDonne</h4>
                <p class="tgray">Head of Development</p>
            </div>
            <div class="col-md-2">
                <img class="img-responsive logo-tile img-center" src="../images/madibathish.png">
                <h4>Madi Bathish</h4>
                <p class="tgray">Executive Creative Director</p>
            </div>
        </div>

    </div>

	<div data-ng-include="'pages/footer.html'"></div>
