	<div data-ng-include="'pages/navbar.html'"></div>

    <div id="main-header" class="twhite">
        <div data-ng-include="'pages/header.html'"></div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6 hidden-sm hidden-xs text-center bottom-padding">
                <h1 class="no-top-space">Pricing</h1>
                <p class="top-medium-padding">14 Day Free Trial With All Accounts</p>
            </div>
        </div>
    </div>


    <div class="bwhite side-padding row-wrapper">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 text-center">
                <h1 class="no-top-space">Find A Plan That's Right For You</h2>
                <p class="tgray font-big">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="tgray font-big">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>

    <div class="bgray row-wrapper">
        <div class="row">
            <div class="bluelink hidden-lg hidden-md col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 text-center">
                <h2><a href="#">Personal $15/mo</a></h2>
                <h2><a href="#">Small Business $30/mo</a></h2>
                <h2><a href="#">Corporate $150/mo</a></h2>
                <h2><a href="#">Enterprise $350/mo</a></h2>
            </div>
            <div class="col-md-12 hidden-sm hidden-xs price-list">
                <table>
                    <tr>
                        <td>
                        <div class="pricing-wrapper">
                            <img src="../images/pricing_2.png">
                            <a href="/members/#/signup">
                                <img class="pricing-signup" src="../images/sign_up_now.png">
                            </a>
                        </div>
                        </td>
                        <td>
                        <div class="pricing-wrapper">
                            <img src="../images/pricing_3.png">
                            <a href="/members/#/signup">
                                <img class="pricing-signup" src="../images/sign_up_now.png">
                            </a>
                        </div>
                        </td>
                        <td>
                        <div class="pricing-wrapper">
                            <img src="../images/pricing_4.png"> 
                            <a href="/members/#/signup">
                                <img class="pricing-signup" src="../images/sign_up_now.png">
                            </a>
                        </div>
                        </td>
                        <td>
                        <div class="pricing-wrapper">
                            <img src="../images/pricing_1.png">
                            <a href="/members/#/signup">
                                <img class="pricing-signup" src="../images/sign_up_now.png">
                            </a>
                        </div>
                        </td>
                    </tr>
                </table>
                </ul>
            </div>
        </div>
    </div>

	<div data-ng-include="'pages/footer.html'"></div>
